<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Droppable TEST</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="style.css"/>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="createScript.js"></script>
</head>
<body>
    <div id="techList">
        <div id="sortableContainer">
            <ul id="sortable">

            </ul>
        </div>
    </div>
    <div id="containers">
        <div id="adopt" class="cont">Adopt</div>
        <div id="incoming" class="cont">Incoming</div>
        <div id="assess" class="cont">Assess</div>
        <div id="hold" class="cont">Hold</div>
    </div>
</body>
</html>