<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tech Radar Prototype</title>
    <!--<link href="css/simple-sidebar.css" rel="stylesheet"/>-->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>
    <script src="https://d3js.org/d3.v4.min.js"></script>

</head>
<!--/*@thymesVar id="radarId" type="int"*/-->
<body th:onload="'generatePage(\''+${radarId}+'\');'">
<div id="wrapper">
    <!-- Sidebar -->

    <!-- /#sidebar-wrapper -->
    <div id="mySidenav" class="sidenav">
        <!--<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
        <a th:href="@{/home/1}"> Java </a>
        <a th:href="@{/home/2}"> .Net </a>
        <a th:href="@{/home/3}"> Front End </a>
        <a th:href="@{/home/4}"> Platforms and Methodologies </a>
    </div>


    <div id="page-content-wrapper">
        <div id="right">
            <ul id="list">

            </ul>

        </div>


            <h1 id="radarTitle"> <span id="toggle" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span> Welcome to Tech Radar </h1>

            <div id="colors">
                <p style="background-color: #924343"> Outgoing </p>
                <p style="background-color: #F3E8E8"> Should Pilot </p>
                <p style="background-color: #E5C904"> Incoming </p>
                <p style="background-color: #016C0E"> In Focus </p>
            </div>
            <button type="button" id="updateButton" class="btn btn-info">Update Radar</button>
            <svg id="radar" viewBox="0 0 10 10" width="50%" height="75%" preserveAspectRatio="xMidYMin meet" xlmns="http://www.w3.org/2000/svg">
                <circle id="droppable1" cx="5" cy="5" r="5" fill="#924343"></circle>
                <circle id="droppable2" cx="5" cy="5" r="4" fill="#F3E8E8"></circle>
                <circle id="droppable3" cx="5" cy="5" r="3" fill="#E5C904"></circle>
                <circle id="droppable4" cx="5" cy="5" r="2" fill="#016C0E"></circle>
            </svg>
        </div>
        <br/>
    </div>

<script src="http://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script th:src="@{/js/customScript.js}"></script>
</body>
</html>