<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TechRadar</title>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/font-mfizz.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/homeStyle.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>

    <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body th:onload="'generatePage(\''+${radarId}+'\');'">
<button class="navigation-button">
    <div class="burger-bar arrow-top-r"></div>
    <div class="burger-bar arrow-middle-r"></div>
    <div class="burger-bar arrow-bottom-r"></div>
</button>
<nav class="side-navigation-container hidden hideNav">
    <ul class="side-navigation-list">
        <li class="side-navigation-item"><a th:href="@{/home/1}"><i class="fa icon-java-bold menu-icon" style="padding-left: 12px"></i></a></li>
        <li class="side-navigation-item"><a th:href="@{/home/2}"><i class="fa icon-csharp menu-icon"></i></a></li>
        <li class="side-navigation-item"><a th:href="@{/home/3}"><i class="fa icon-angular menu-icon"></i></a></li>
        <li class="side-navigation-item"><a th:href="@{/home/4}"><i class="fa icon-git menu-icon"></i></a></li>
        <li class="side-navigation-item"><a th:href="@{/logout}"><i class="fa fa-sign-out menu-icon"></i></a></li>
    </ul>
</nav>
<div id="radarWrapper">
    <svg id="radar" viewBox="0 0 10 10" width="85%" height="85%" preserveAspectRatio="xMidYMin meet" xlmns="http://www.w3.org/2000/svg">
        <circle id="droppable1" cx="5" cy="5" r="5" fill="#924343"></circle>
        <circle id="droppable2" cx="5" cy="5" r="4" fill="#F3E8E8"></circle>
        <circle id="droppable3" cx="5" cy="5" r="3" fill="#E5C904"></circle>
        <circle id="droppable4" cx="5" cy="5" r="2" fill="#016C0E"></circle>
    </svg>
    <i class="large material-icons" sec:authorize="hasRole('ROLE_ADMIN')" id="updateButton">build</i>
</div>
<div id="listWrapper">
    <ul id="collapsibleList" class="collapsible popout" data-collapsible="accordion">

    </ul>
</div>

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    $(window).load(function() {
        $(".navigation-button").on("click tap", function() {
            $(".side-navigation-container").toggleClass("showNav hideNav").removeClass("hidden");
            $(this).toggleClass("animated");
        });
        $("#collapsibleList").collapsible({
            onOpen: function(){
                loopOn();
            },
            onClose: function(){
                loopOff();
                if(document.getElementsByClassName("active").length !== 0){
                    loopOn();
                }
            }
        });
    });
</script>
<script th:src="@{/js/customScript.js}"></script>
<script th:src="@{/js/materialize.js}"></script>
</body>
</html>