<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Droppable 2 TEST</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" th:src="@{/modifyScript.js}"></script>
</head>
<!--/*@thymesVar id="radarId" type="int"*/-->
<body th:onload="'generatePage(\''+${radarId}+'\');'">
<div class="row">
    <div class="cell lefty" id="adopt">Adopt</div>
    <div class="cell righty" id="incoming">Incoming</div>
</div>
<div class="row">
    <div class="cell lefty" id="assess">Assess</div>
    <div class="cell righty" id="hold">Hold</div>
</div>
<button type="button" class="btn btn-info btn-sm" th:onclick="'sendData();'">Update</button>
</body>
</html>