<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Droppable 2 TEST</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="style.css"/>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="modifyScript.js"></script>
</head>
<body>
<div class="row">
    <div class="cell lefty" id="adopt">Adopt</div>
    <div class="cell righty" id="incoming">Incoming</div>
</div>
<div class="row">
    <div class="cell lefty" id="assess">Assess</div>
    <div class="cell righty" id="hold">Hold</div>
</div>
</body>
</html>