<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Droppable 2 TEST</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript" th:src="@{/modifyScript.js}"></script>
</head>
<!--/*@thymesVar id="radarId" type="int"*/-->
<body th:onload="'generatePage(\''+${radarId}+'\');'">
<div id="modal1" class="modal">
    <div id="addView" class="modal-content">
        <h4>Add Technology</h4>
        <!--/*@thymesVar id="technology" type="hr.kingict.model.Technology"*/-->
        <form id="myForm" method="POST" th:object="${technology}" class="newTech" th:action="@{/update/{path}(path=${radarId})}" >
            <table>
                <tr>
                    <td>Name:</td>
                    <td>
                        <input type="text" th:field="*{name}" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td>Category:</td>
                    <td>
                        <select th:field="*{category}">
                            <!--/*@thymesVar id="cats" type="hr.kingict.model.Category"*/-->
                            <option th:each="cat : ${cats}"
                                    th:value="${cat.id}"
                                    th:text="${cat.name}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td>
                        <input type="text" th:field="*{description}" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" >
                        <input id="addbtn" type="submit" value="Add" class="btn btn-primary" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div id="regionLeft">
    <div class="row">
        <label class="containerLabel lefty" for="adopt"> <div class="circle" style="background-color: #016C0E"></div>In Focus </label>
        <label class="containerLabel  righty" for="incoming"><div class="circle" style="background-color: #E5C904"></div>Incoming</label>
    </div>
    <div class="row">
        <div class="cell lefty list-type4" id="adopt"></div>
        <div class="cell righty list-type4" id="incoming"></div>
    </div>
    <div class="row">
        <label class="containerLabel lefty" for="assess"><div class="circle" style="background-color: #F3E8E8"></div>Should Pilot</label>
        <label class="containerLabel righty" for="hold"><div class="circle" style="background-color: #924343"></div>Outgoing</label>
    </div>
    <div class="row">
        <div class="cell lefty list-type4" id="assess"></div>
        <div class="cell righty list-type4" id="hold"></div>
    </div>
</div>
<div id="regionRight">
    <label class="containerLabelExtra" for="unused"><div class="circle" style="background-color: black"></div>Outdated</label>
    <div class="cell list-type4" id="unused"></div>
</div>
<div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large red darken-4">
        <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li><a class="btn-floating pulse" th:onclick="'sendData(\''+${radarId}+'\');'"><i class="material-icons">done_all</i></a></li>
        <li><a class="btn-floating pulse modal-trigger" href="#modal1"><i class="material-icons">add</i></a></li>
        <li><a class="btn-floating pulse" th:onclick="'clearData();'"><i class="material-icons">clear</i></a></li>
    </ul>
</div>
</body>
</html>