<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="style.css"/>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="script.js"></script>
</head>
<body onload="generatePage()">
<div id="view">
    <div id="right">
        <ul class="list">

        </ul>
    </div>
    <div id="left">
        <svg viewBox="0 0 10 10" width="50%" preserveAspectRatio="xMidYMin meet" xlmns="http://www.w3.org/2000/svg">
            <circle id="droppable1" cx="5" cy="5" r="5" fill="#962D3E"></circle>
            <circle id="droppable2" cx="5" cy="5" r="4" fill="#F2EBC7"></circle>
            <circle id="droppable3" cx="5" cy="5" r="3" fill="#343642"></circle>
            <circle id="droppable4" cx="5" cy="5" r="2" fill="#348899"></circle>
        </svg>
    </div>
</div>
<script type="text/javascript">
//    $(function(){
//
//    });
</script>
</body>
</html>